.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.producto {
    border-width: 0px;
    border-style: solid;
    border-color: transparent;
    border-radius: 1rem 1rem 2rem 1rem;
    background-color: rgba(8, 6, 6, 0.103);
    transition: all 400ms ease-out;
    overflow: hidden;
    margin-top: 0%;

    &:hover {
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.705);
        transform: translateY(-3%);
    }
}


.producto-imagen {
    max-width: 100%;
    border-radius: 1rem;

    &:hover {
        transition: 0.5s;
        transform: scale(1.2, 1.2);
    }
}

.producto-detalles {
    background-color: var(--clr-main);
    color: var(--clr-white);
    padding: .5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.producto-titulo {
    font-size: 1rem;
}
.producto-descripcion {
    font-size: 1.2rem;
}

//BOTONES
.producto-agregar {
    border: 0;
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: .4rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid var(--clr-white);
    transition: background-color .2s, color .2s;
}

.producto-agregar:hover {
    background-color: var(--clr-main);
    color: var(--clr-white);
}